<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sip.gestibank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconwhite"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoappli"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestiBank"
        android:usesCleartextTraffic="true">
        <activity android:name=".CustomListView"></activity>
        <activity android:name=".AjouterAgent" />
        <activity android:name=".ListeDemande" />
        <activity android:name=".Agent" />
        <activity android:name=".Admin" />
        <activity android:name=".Login" />
        <activity android:name=".Chargement" />
        <activity android:name=".ConvertionDevise" />
        <activity android:name=".motDePasse" />
        <activity android:name=".Virement" />
        <activity android:name=".Comptes" />
        <activity android:name=".Accueil" />
        <activity android:name=".ChargementAdmin" />
        <activity android:name=".ChargementAgent" />
        <activity android:name=".creationCompte" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>